body {
    background-color: #fafafa;
}

a {
    text-decoration: none;
}

.Post__list {
    margin-top: 5rem;
    margin-left: 5rem;
    max-width: 614px;
    width: 100%;
    margin-right: 28px;
}

.guest-homepage {
    /* margin-top: 54px; */
    height: 100vh;
    background-color: aqua;
    background-image: url('./assets/avatar/background-img.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}